APP_NAME=ArticleService
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

LOG_CHANNEL=stderr
LOG_LEVEL=debug

MONGODB_URI=mongodb://mongo_articles:27017
MONGODB_DATABASE=articles_db

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
