APP_NAME=UserService
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8002

LOG_CHANNEL=stderr
LOG_LEVEL=debug

MONGODB_URI=mongodb://mongo_users:27017
MONGODB_DATABASE=users_db

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
